* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
    color: #050606;
    padding: 20px 35px;
    background-color: rgb(185, 185, 242);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
    background-image: url(../images/PatrickPicture.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: 100%;
    z-index: 9999;
  }
  header h1 {
    color: #050606;
  
  }

  header nav {
    color: #050606;
    margin: 7px 0;
  }
  
  header nav ul {
    color: #050606;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
  }
  
  header nav ul li a:hover {
    background: #f7f5f5;
    color: #050606;
    border-radius: 15px;
    text-shadow: none;
  }

  body {
    background-color: rgb(196, 192, 192);
  }
  
  .hero {
    height: 400px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url(../images/PatrickPicture.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .section-title {
    font-size: 32px;
    color: #080808;
    border-bottom: 3px solid;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
  }

  .projects {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .project {
    padding: 25px;
    line-height: 1.3;
  }
  
  .project h3 {
    text-align: center;
  }

  .project p {
    text-align: center;
  }

  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }

  .contact-info nav {
    color: #050606;
    margin: 7px 0;
  }
  
  .contact-info nav ul {
    color: #050606;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    list-style: none;
  }
  
  .contact-info nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
  }
  